#cabecalho{
    background-color: rgb(83, 138, 221);
    text-align: center;
  
    
}
#aaa{
    color: #ffff;
    
}
  .example-full-width {
    width: 300px;
    height: 100px;
  }

  .example-button-row {
    display: flex;
    max-width: 600px;
    align-items: center;
    margin-left: 17%;
  }
  #ouo{
   text-align: center;
   
  }
  #link{
    color: #ffff;
   
    
  }
  .container {
   display:box;
   border: 1px solid black;
   width: 250px;
   height: 550px;
   margin-left: 43%;
   border-radius: 20px;
  }
  
  a{
    text-decoration: none;
  }
 .alinhar{
  margin-left: -50%;
 }
  